<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'linkL.html' %}
        <link rel="stylesheet" href="">
        <title>{% block title %}{% endblock title %}| BeautyQueen</title>
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand mx-3" href="#"><img class="rounded-circle mx-3" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/beauty-logo-design-template-4e0a2ac0bf809c0373378d37254b8435_screen.jpg?ts=1646262432" width="50px" hight="50px"><img>BeautyQueen</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Product
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Perfume</a></li>
                      <li><a class="dropdown-item" href="#">Cosmatics</a></li>
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="/view">Add</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="/auth/user/login">Add</a></li>
                      {% endif %}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                       
                    </ul>
                  </li>
                </ul>
               
              </div>

               <!-- Button trigger modal -->
                      
                      {% if user.is_authenticated %}
                     <a class="btn btn-primary mx-3" href="/auth/user/logout">Logout</a>
              
                      {% else %}
                      <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#signupmodal">
                        Sign Up
                      </button> 
                      
                      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#loginmodal">
                        login
                      </button>    
                      {% endif %}
            </div>
        </nav>

{% comment %} 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> {% endcomment %}


        {% if messages %}
    
            {% for message in messages %}

            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        
        {% endif %}



        {% block body %}{% endblock body %}


{% comment %} signup modal {% endcomment %}

        <div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="signupmodal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="signupmodal">Signup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% comment %} form data {% endcomment %}
                <form method="post" action="/auth/user/signup">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">User Name</label>
                    <input type="text" name="name" class="form-control" id="username"
                      placeholder="Enter user name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email"
                      placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" name="pass1" class="form-control" id="pass1"
                      placeholder="Enter password">
                  </div>
        
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
                    <input type="password" name="pass2" class="form-control" id="pass2"
                      placeholder="confirm your password">
                  </div>
        
        
                  <button type="submit" class="btn btn-primary">signup</button>
        
                </form>
              </div>

            </div>
          </div>
        </div> 

        <!-- login modal -->
        <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="loginmodal">login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% comment %} form data {% endcomment %}
                <form method="post" action="/auth/user/login">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">User Name</label>
                    <input type="text" name="lname" class="form-control" id="lname"
                      placeholder="Enter user name">
                  </div>
                   
        
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
                    <input type="password" name="lpass" class="form-control" id="lpass"
                      placeholder="confirm your password">
                  </div>
        
        
                  <button type="submit" class="btn btn-primary">login</button>
        
                </form>
              </div>

            </div>
          </div>
        </div> 
        
        

        </script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  

 
        </body>
</html>